* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

.navbar {
  padding: 10px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.navbar .openMenu {
  display: none;
  opacity: 0.8;
  background-color: #f6f6f6;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.navbar .openMenu__list {
  background-color: #f6f6f6;
  list-style: none;
  padding-top: 10px;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar .openMenu__list li {
  padding: 20px;
}

.navbar .openMenu__list a {
  background-color: #f6f6f6;
  text-decoration: none;
  color: #80647f;
  font-family: "montserrat";
  font-weight: bold;
}

.navbar .openMenu__list a:hover {
  color: #EF9AB4;
}

.navbar .openMenu__list .closeMenu {
  border-style: none;
  color: #80647f;
  font-size: 25px;
  outline: none;
}

.navbar .openMenu__list .closeMenu:hover {
  outline: none;
  color: #EF9AB4;
}

.navbar .hamIcon {
  border-style: none;
  font-size: 20px;
  color: #80647f;
  outline: none;
}

@media screen and (min-width: 769px) {
  .navbar .hamIcon {
    display: none;
  }
}

.navbar .hamIcon:hover {
  color: #EF9AB4;
  outline: none;
}

.navbar__logo {
  cursor: pointer;
  width: 25%;
}

.navbar__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .navbar__list {
    display: none;
  }
}

.navbar__list a {
  text-decoration: none;
  color: #80647f;
  font-family: "montserrat";
  font-weight: bold;
  padding: 0 18px;
}

.navbar__list a:hover {
  color: #EF9AB4;
}

.navbar .button {
  padding: 10px 30px;
  background: #EF9AB4;
  color: #f6f6f6;
  border-style: none;
  border-radius: 20px;
  font-family: "montserrat";
  font-weight: bold;
  font-size: 16px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  outline: none;
}

.navbar .button:hover {
  background-color: #f6f6f6;
  color: #80647f;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 120px 10%;
}

section img {
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.banner {
  text-align: center;
  color: #80647f;
}

.banner__title {
  font-family: "montserrat";
  font-size: 27px;
  padding-bottom: 10px;
}

.banner__quote {
  font-family: "Beth Ellen";
  line-height: 3;
  letter-spacing: 1px;
  font-size: 13.5px;
}

.banner__socials {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner__socials a {
  padding: 20px;
  color: #80647f;
}

.banner__socials a:hover {
  color: #EF9AB4;
}

.cards {
  padding: 0 10%;
}

.cards__title {
  color: #80647f;
  font-family: "montserrat";
  font-size: 25px;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__item a {
  padding: 60px;
  margin-top: 40px;
  border-style: none;
  border-radius: 7px;
  text-align: center;
  line-height: 1.3;
  width: 300px;
  height: 330px;
  font-family: "montserrat";
  font-weight: 600;
  text-decoration: none;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.cards__item a:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.cards__item--pink {
  background-color: #EF9AB4;
  color: #f6f6f6;
}

.cards__item--pink h3 {
  background-color: #EF9AB4;
  font-size: 25px;
}

.cards__item--pink p {
  background-color: #EF9AB4;
  font-style: italic;
}

.cards__item--purple {
  background-color: #B3A4DE;
  color: #f6f6f6;
}

.cards__item--purple h3 {
  background-color: #B3A4DE;
  font-size: 25px;
}

.cards__item--purple p {
  background-color: #B3A4DE;
  font-style: italic;
}

.cards__item--white {
  background-color: #f6f6f6;
  color: #EF9AB4;
}

.cards__item--white h3 {
  background-color: #f6f6f6;
  font-size: 25px;
}

.cards__item--white p {
  background-color: #f6f6f6;
  font-style: italic;
}

.youtube {
  padding: 100px 10%;
  font-size: 24px;
  color: #80647f;
  font-family: "montserrat";
  font-weight: 600;
}

.vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vid iframe {
  width: 500px;
  height: 300px;
  margin: 50px 0%;
}

.blogs {
  padding: 90px 15%;
}

.blogs__image {
  width: 30%;
  height: 30%;
}

.blogs__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px #80647f solid;
  padding-bottom: 50px;
}

.blogs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 60px;
}

.blogs__content--title {
  font-family: "montserrat";
  color: #80647f;
  font-size: 20px;
}

.blogs__content--preview {
  font-family: "montserrat";
  color: #80647f;
  line-height: 1.5;
  margin-top: 10px;
  width: 100%;
  font-size: 12px;
}

.blogs__content--link {
  font-family: "montserrat";
  font-weight: bold;
  color: #EF9AB4;
  font-size: 15px;
}

.blogs__content a:hover {
  color: #B3A4DE;
}

.blogs__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blogs__pages a {
  text-decoration: none;
  font-family: "montserrat";
  font-size: 25px;
  margin: 10px;
  color: #80647f;
  font-weight: bold;
}

.blogs__pages a:hover {
  color: #EF9AB4;
}

.y2k {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 120px 10%;
}

.y2k img {
  width: 100%;
  max-width: 700px;
  margin-bottom: 40px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 10%;
  text-align: center;
}

.gallery__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.gallery__banner img {
  width: 50%;
}

.gallery__slc {
  padding-top: 100px;
}

.gallery__slc img {
  width: 33%;
}

.room {
  padding: 120px 10%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.room__title {
  font-family: "montserrat";
  color: #80647f;
  font-size: 20px;
  padding-bottom: 30px;
}

.room img {
  width: 19.6%;
}

.contact {
  padding: 150px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__info {
  text-align: center;
  font-family: "montserrat";
  font-size: 12px;
}

.contact__info--title {
  color: #EF9AB4;
}

.contact__info--info {
  color: #80647f;
}

.contact__info--socials {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__info--socials a {
  padding: 20px;
  color: #80647f;
  font-size: 20px;
}

.contact__info--socials a:hover {
  color: #EF9AB4;
}

.contact__logo {
  width: 50%;
  min-width: 400px;
  padding: 100px;
}

@media screen and (min-width: 768px) {
  .contact__logo {
    border-left: 1px #80647f solid;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 10px;
  font-family: "montserrat";
  color: #80647f;
  border-top: 1.5px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 100px;
  text-align: center;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials a {
  padding-left: 20px;
  font-size: 15px;
  color: #80647f;
}

.footer__socials a:hover {
  color: #EF9AB4;
}
/*# sourceMappingURL=style-bem.css.map */