* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F6F6F6; 
}

header li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #80647f;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    position: fixed;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 25%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #EF9AB4;
}

button {
    margin-left: 20px;
    padding: 12px 25px;
    background-color: #EF9AB4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #f6f6f6;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #F6F6F6;
    color: #80647f;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 120px 10%;
}

section h1 {
    font-weight: 500;
    font-size: 27px;
    color: #80647f;
    text-align: center;
    padding-bottom: 10px;
}

section p {
    color: #80647f;
    background-color: #F6F6F6;
    width: 100%;
    text-decoration: none;
    font-family: "Beth Ellen";
    text-align: center;
    line-height: 3;
    letter-spacing: 1px;
    font-size: 13.5px;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.banner h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.banner h1, p, .socials{
    margin-bottom: 10px;
}

.image img {
    width: 100%;
    max-width: 500px;
    height: 100%;
}

.socials {
    padding: 20px;
    text-align: center;
}

.socials a {
    padding: 5px 20px 5px 10px;
    width: 100%;
}

.cards {
    padding: 15px 10%;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    color: #80647f;
}

.love {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.card1, .card2, .card3 {
    padding: 60px;
    margin-top: 40px;
    border-style: none;
    border-radius: 7px;
    text-align: center;
    line-height: 1.3;
    width: 300px;
    height: 330px;
    font-size: 27px;
    font-family: "Montserrat";
    font-weight: 600;
}

.card1{
    background-color: #B3A4DE;
    color: #F6F6F6;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}


.card1 p {
    background-color: #B3A4DE;
    font-style: italic;
    font-size: 16px;
}

.card1:hover{
    transition: all 0.3s ease 0s;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
}

.card2{
    background-color: #EF9AB4;
    color: #F6F6F6;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.card2 p {
    background-color: #EF9AB4;
    font-style: italic;
    font-size: 16px;
}

.card2:hover{
    transition: all 0.3s ease 0s;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
}

.card3{
    background-color: #f6f6f6;
    color: #EF9AB4;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
}

.card3 p {
    background-color: #F6F6F6;
    font-style: italic;
    font-size: 16px;
}

.card3:hover{
    transition: all 0.3s ease 0s;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
}

.youtube {
    padding: 100px 10%;
    font-size: 24px;
    color: #80647f;
    font-family: "Montserrat";
    font-weight: 600;
}

.vid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.vid1, .vid2 {
    text-align: center;
    padding-top: 30px;
    margin-top: 40px;
    border-style: none;
    border-radius: 7px;
    width: 520px;
    height: 270px;
    font-size: 27px;
    font-weight: 600;
    background-color: #EF9AB4;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.vid i {
    background-color: #EF9AB4;
    color: #f6f6f6bd;
    padding: 55px;
    font-size: 100px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    font-family: "montserrat";
    color: #80647f;
    font-weight: 500;
    border-top: 1.5px solid #80647f;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
    text-align: center;
}

.social-footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.social-footer a{
    padding-left: 20px;
    text-align: center;
    font-size: 15px;
}